name: Publish

on:
  release:
    types: [published]

concurrency: publish

jobs:
  docker:
    name: Publish Docker image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download
        run: |
          gh release download ${{ github.event.release.tag_name }} -p 'santa-lang-dasher-cli-${{ github.event.release.tag_name }}-docker.tar'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Load
        run: |
          docker load -i santa-lang-dasher-cli-${{ github.event.release.tag_name }}-docker.tar
          docker tag ghcr.io/eddmann/santa-lang-dasher:cli-latest ghcr.io/eddmann/santa-lang-dasher:cli-${{ github.event.release.tag_name }}
      - name: Publish
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/eddmann/santa-lang-dasher:cli-latest
          docker push ghcr.io/eddmann/santa-lang-dasher:cli-${{ github.event.release.tag_name }}
